# Dependências
node_modules/
android/

# Dependencias package main
/package.json
/package-lock.json

# Logs de erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ficheiros atoa
capacitor.config.json
.DS_Store
Thumbs.db
.hintrc
.env
